language: c

os:
 - linux
 - osx

compiler:
 - clang
 - gcc
 - g++

before_script:
 - cmake -DBUILD_LIBSODIUM_TESTS=ON -DCMAKE_BUILD_TYPE=Release .

script:
 - cmake --build . --config=Release
 - ctest

